body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: rgb(219, 243, 252); /* Sets the background color to very light blue */
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

#profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.book-image {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin-right: 10px;
    float: left;
}

nav a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #444;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #0066cc;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

